@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald:wght@200&family=REM:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Oswald:wght@200&family=REM:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,600&family=REM:wght@300&family=Roboto:wght@100&display=swap");
/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'REM', sans-serif;
font-family: 'Roboto', sans-serif;*/
body {
  background-image: url(../img/fondo\ american.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.89);
}

.img-navbar {
  height: 150px;
  margin-left: 43%;
  animation-duration: 1.5s;
  animation-name: aparecer;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
  }
}
form {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.89);
  border: none;
  position: absolute;
}

h1 {
  text-align: center;
  color: rgb(107, 12, 12);
  font-weight: bold !important;
  font-family: "Times New Roman", Times, serif;
  padding-top: 100px;
}

h1 span {
  color: black;
  text-align: center;
  padding-left: 10px;
}

.casilla input {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: black;
}

.casilla input:hover {
  border: 1px solid #ff1c1c;
  background-color: black;
  width: 400px;
  border-radius: 10px;
  color: white;
}

.casilla input::-moz-placeholder {
  color: #ffffff;
}

.casilla input::placeholder {
  color: #ffffff;
}

.btn-primary {
  position: relative;
  margin-left: 39.5%;
  width: 400px;
  border-radius: 2em;
  background-color: black;
  color: white;
}

.btn-primary:hover {
  transition: 0.4s;
  cursor: pointer;
  background-image: linear-gradient(#5f0000, rgb(163, 0, 0));
  color: rgb(255, 255, 255);
}

@media (max-width: 800px) {
  .img-navbar {
    height: 100px;
    margin-left: 102px;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    50% {
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    font-size: 250% !important;
    padding-top: 50px !important;
  }
  .casilla input {
    width: 100%;
  }
  .btn-primary {
    width: 377px;
    right: 150px;
  }
  .volver {
    right: 60px;
  }
}
.register-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  font-size: 18px;
  color: #111;
  text-align: center;
}

.register-link a {
  text-decoration: none;
  color: rgb(110, 0, 0);
  padding-left: 10px;
}

.register-link a:hover {
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.social svg {
  cursor: pointer;
}/*# sourceMappingURL=estilos-login.css.map */