body {
    background-image: url(../img/fondo\ american.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.titulo {
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #5f0000;
    border: 2px solid white;
}
/*seccion de compra*/
.conteiner {
    height: 600px;
    width: 50%;
    bottom: 150px;
    background-color: #5f0000;
    border: 3px solid gray;
    margin-top: 25px;
}
.nleft .clasic{
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 594px;
}
.nleft .doble{
    position: relative;
    width: 600px;
    height: 595px;   
}
.nleft .vegan{
    position: relative;
    width: 600px;
    height: 593px;
}
.nright{
    display: block;
    float: right;
    position: relative;
    padding-top: 5px;
    margin-left: 300px;
}
.nright h2{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}
.nright span{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    font-weight: bold;      
}
.nright p{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    padding-left: 30%;
    padding-top: 5%;   
}

.nright h3{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    position: relative;
    font-weight: bold;
    right: 5%;
    top: 10px;
    font-weight: bold;
    
}
.nright s{
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    position: relative;
    text-decoration: none;
    top: 50px;
    left: 120px;
    font-weight: bold;
}
.nright h4{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}
.nright u{
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-shadow: 0 0 5px black;
    position: relative;
    text-decoration: none;
    left: 40%;
    top: 50px;
    font-weight: bold;
}


/*boton compra*/
.compra {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 8em;
    transition: all .2s;
    font-weight: 400%;
    background-color: rgb(107, 12, 12);
    letter-spacing: 2px;
    border: 3px solid white;
    left: 700px;
    bottom: 50%;
    
}
.compra a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.compra:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 .compra:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 .compra::after {
  content: "🍔";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }   
 .compra::after {
  background-color:  rgb(107, 12, 12);
 }
  
 .compra:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}   

.compra__doble {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 8em;
    transition: all .2s;
    font-weight: 400%;
    background-color: rgb(107, 12, 12);
    letter-spacing: 2px;
    border: 3px solid white;
    left: 710px;
    bottom: 60%;
    
}
.compra__doble a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.compra__doble:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 .compra__doble:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 .compra__doble::after {
  content: "🍔";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }   
 .compra__doble::after {
  background-color:  rgb(107, 12, 12);
 }
  
 .compra__doble:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}   

/*boton volver*/
.volver {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    font-family: inherit;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(107, 12, 12);
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    border: 3px solid white;
   }
   .volver a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   
   .volver:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .volver:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .volver::after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .volver::after {
    background-color: #971515;
   }
   
   .volver:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


.card{
    margin-top: 20px;
}
.card-body{
    width: 800px;
    height: 610px;
    background-color: #5f0000;
    border: 2px solid gray;
}
iframe{
    width: 760px;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}
.btn-primary{
    color: rgb(255, 255, 255) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 8em;
    transition: all .2s;
    background-color: rgb(107, 12, 12);
    border: 2px solid rgb(255, 255, 255);
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.btn-primary:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


@media (min-width: 0) and (max-width: 580px) {
    .card-body{
        width: 100%;
        height: 610px;
        background-color: #5f0000;
        border: 2px solid gray;
    }
    iframe{
        width: 345px;
    }
}