@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald:wght@200&family=REM:wght@300&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Oswald:wght@200&family=REM:wght@300&family=Roboto:wght@100&display=swap');

// font-family: 'Barlow', cursive;
// font-family: 'Delicious Handrawn', cursive;
// font-family: 'Farsan', cursive;
// font-family: 'lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Oswald:wght@200&family=Playfair+Display:ital,wght@1,600&family=REM:wght@300&family=Roboto:wght@100&display=swap');

/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'REM', sans-serif;
font-family: 'Roboto', sans-serif;*/

$color1: linear-gradient(#5f0000 , rgb(163, 0, 0));
$color2: white;
$color3:  rgb(107, 12, 12);
$color4: grey;
$font1: Arial, Helvetica, sans-serif;
$font2: sans-serif;
$font3: 'Montserrat', sans-serif;
$font4: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$var1: 100%;
$var2: 50%;

$ancho: 500px;
$alto: 200px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo\ american.jpg);
    background-position: center;
    background-size: cover;
}
.navbar {
    height: 170px;
    background-color: $color2;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    height: 170px;
}
.img-navbar {
    height: 150px;
    animation-duration: 1.5s;
    animation-name: aparecer;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
    }
}

.nav-link {
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 1em;
    transition: all 0.2s;
    letter-spacing: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-image: $color1;
}

.nav-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.nav-link:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-link::after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.nav-link::after {
    background-color: rgb(107, 12, 12);
}

.nav-link:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.carrito {
    color: rgb(143, 17, 17);
    font-size: 30px;
    margin-top: 8px;
    background-color: transparent;
    margin-right: 20px;
}

.jumbotron {
    background-image: url(../img/imagen\ seccion.jpg);
    height: 300px;
    margin-top: 1px;
    background-position: center;
    background-size: cover;
    transition: height 2.7s;
    border: 3px solid grey;
}

.jumbotron:hover {
    height: 700px;
}

.jumbotron1 {
    background-image: url(../img/depositphotos_286856430-stock-photo-tasty-burger-with-french-fries.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(0, 0, 0);
}

h3 {
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 100px;
    width: 40%;
    color: white;
    text-shadow: 5px 5px 5px #000000;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
    color: white;
    text-shadow: 5px 5px 5px grey;
    animation-duration: 2s;
    animation-name: bienvenido;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /*animation-timing-fuction: ease-in;*/
}

@keyframes bienvenido {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#menu {
    height: 100%;
    width: 100%;
}

h2 {
    position: relative;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 60px !important;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    background-image: linear-gradient(#5f0000, rgb(0, 0, 0));
}

a {
    text-decoration: none !important;
}

.clasica {
    background-image: url(../img/Clasica.png);
    background-position: center;
    background-size: cover;
    border: 3px solid grey;
    height: 700px;
    width: 40%;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 100px;
    transition: all 0.9s !important;
}

.clasica:hover {
    transform: scale(1.08) !important;
}

.clasica .texto {
    position: relative;
    height: 450px;
    left: 50%;
    top: 32.5%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.048));
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.clasica:hover .texto {
    opacity: 1;
}

.doble {
    background-image: url(../img/Doble.jpeg);
    background-position: center;
    background-size: cover;
    border: 3px solid grey;
    height: 600px;
    width: 40%;
    border-radius: 15px;
    margin-right: 100px;
    float: right;
    transition: all 0.9s !important;
}

.doble:hover {
    transform: scale(1.08) !important;
}

.doble .texto {
    position: relative;
    height: 450px;
    left: 50%;
    top: 37.7%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.048));
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.doble:hover .texto {
    opacity: 1;
}

.vegan {
    background-image: url(../img/Vegetariana.png);
    background-position: center;
    background-size: cover;
    border: 3px solid grey;
    height: 600px;
    width: 40%;
    border-radius: 15px;
    margin-top: 620px;
    margin-left: 100px;
    transition: all 0.9s !important;
}

.vegan:hover {
    transform: scale(1.08) !important;
}

.vegan .texto {
    position: relative;
    height: 450px;
    left: 50%;
    top: 37.8%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.048));
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.vegan:hover .texto {
    opacity: 1;
}

@media (max-width: 700px) {
    .clasica {
        height: 30%;
        width: 95%;
        margin-left: 2%;
    }

    .clasica .texto {
        top: 225px;
    }

    .doble {
        margin-top: 100px;
        height: 30%;
        width: 95%;
        margin-right: 2%;
    }

    .doble .texto {
        top: 225px;
    }

    .vegan {
        height: 30%;
        width: 95%;
        margin-left: 2%;
    }

    .vegan .texto {
        top: 225px;
    }
}

@media (max-width: 700px) {
    .img-navbar {
        height: 100px;
        margin-left: 85px;
        margin-top: 20px;
    }
        @keyframes aparecer {
            0% {
                opacity: 0;
            }
        
            50% {
                transform: translateY(100px);
            }
        
            100% {
                opacity: 1;
            }
    }
    .container-fluid {
        height: 150px;
    }

    .nav-link::after {
        content: "";
        background-color: rgba(107, 12, 12, 0);
        width: 1%;
    }

    .navbar-collapse {
        display: flex;
        z-index: 1;
    }

    .navbar-toggler-icon {
        background-color: rgba(68, 66, 66, 0.368627451);
        border-radius: 5px;
    }

    .carrito {
        position: relative;
        z-index: 9;
        bottom: 100px;
        margin-left: 20px;
    }

    .jumbotron {
        height: 500px;
        z-index: 0;
    }

    .jumbotron1 {
        height: 400px;
    }
    h2{
        bottom: 50px;
    }

    h3 {
        width: 100%;
    }

    #menu {
        margin-top: 50px;
    }
    #contact {
        padding-top: 10%;
    }
    .form-control{
        width: 95% !important;
    }
    .form-control-x {
        width: 90% !important;
    }
    .btn-info {
        margin-left: 20px !important;
    }
}

#contact {
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.945);
    width: 100%;
}

.formulario {
    height: 550px;
    border: 1px solid rgba(37, 37, 37, 0.63);
}

.form-control {
    height: 45px !important;
    margin-bottom: 1%;
    margin-left: 10px;
}

.form-control-x {
    height: 250px !important;
    border-radius: 20px !important;
    margin-left: 20px;
}

.indicador {
    margin-left: 20px;
}

.btn-info {
    background-image: linear-gradient(#5f0000, rgb(163, 0, 0));
    color: white;
    height: 50px;
    width: 120px !important;
    margin-left: 2%;
    margin-top: 10px !important;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border-radius: 1em;
    transition: all 0.2s;
    border: 2px solid rgb(255, 255, 255);
}

.btn-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.btn-info:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-info::after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-info:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.comment {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*? footer reset */
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    position: relative;
    background-image: linear-gradient(to top right, rgb(255, 255, 255) 50%, rgb(133, 18, 18));
    min-width: 300px;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}

/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #741111, #f1ebeb 50%, #940505);
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe>input {
    border: 1px solid var(--text-gray);
    color: var(--text-color);
    margin-top: 20px;
    margin-left: 15px;
    min-height: 36px;
    max-height: 50px;
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 25px 12px;
    border-radius: 8px;
}

.footer-subscribe>button {
    position: relative;
    height: 60px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all 0.2s;
    font-family: inherit;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#5f0000, rgb(163, 0, 0));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid white;
    font-weight: bold;
}

.footer-subscribe>button:hover {
    background-color: #5e1515;
    color: #ffffff;
}

.footer-subscribe>button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.footer-subscribe>button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer-subscribe>button:after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.footer-subscribe>button::after {
    background-color: #971515;
}

.footer-subscribe>button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.register-link a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    top: 20px;
}

.register-link a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
}

.footer-columns>section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 180px;
    gap: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-logo img {
    stroke: var(--text-color);
    stroke-width: 8px;
    height: 70px;
}

/*? Footer bottom */
.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--text-gray);
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom>small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-headline>h4 {
    margin: 0px;
}

.footer-headline>p {
    margin: 12px 0px;
}

/*? socials */
.social-links {
    display: flex;
    gap: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
}

.social-links:hover {
    transform: scale(1.1);
}

.fa-instagram {
    color: #e9a322;
}

.fa-whatsapp {
    color: #4cce2c;
}

.fa-linkedin {
    color: #205fe7;
}

.fa-youtube {
    color: #f50b0b;
}

.fa-github {
    color: #111420;
}

/*? mobile */
@media (max-width: 800px) {
    .footer-subscribe>button {
        margin-left: 100px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }

    .subir {
        top: 520px;
        margin-right: 60px;
    }
}

.subir {
    height: 50px;
    width: 50px !important;
    background-image: linear-gradient(#5f0000, rgb(163, 0, 0));
    color: #f5f5f5;
    position: fixed;
    right: 40px;
    bottom: 60px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 5px white;
}

.subir:hover {
    color: white;
}
