body {
    background-image: url(../img/fondo\ american.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    height: 150px;
    background-image: url(../img/fondo\ american.jpg);
    background-position: center;
    background-size: cover;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.842);
    height: 220px;
}
.img-navbar {
    height: 150px;
    margin-top: 10px;
}
.nav-link {
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    color: rgb(255, 255, 255) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    letter-spacing: 2px;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 1em;
    transition: all .2s;
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    letter-spacing: 8px;
    border: 2px solid rgb(255, 255, 255);
}

.nav-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.nav-link:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-link::after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.nav-link::after {
    background-color: rgb(107, 12, 12);
}

.nav-link:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.carrito {
    color: rgb(143, 17, 17);
    font-size: 30px;
    margin-top: 8px;
}

.titulo {
    top: 30px;
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    border: 2px solid white;
}
.card {
    margin-top: 30px;
}

.card-body {
    width: 1900px;
    height: 580px;
    background-image: linear-gradient(rgb(163, 0, 0) , #5f0000);
    border: 2px solid gray;
}

iframe {
    width: 40%;
    display: flex;
}

.card-title {
    color: white;
}

.card-text {
    color: white;
}
@media (min-width: 0) and (max-width: 580px) {
    .titulo {
        margin-top: 60px;
    }
    .container-fluid {
        height: 220px !important;
        width: 100%;
    }
    .card-body {
        width: 100%;
        height: 610px;
        background-color: #5f0000;
        border: 2px solid gray;
    }

    iframe {
        width: 340px;  
    }
}

@media (min-width: 0) and (max-width:580px) {
    .navbar-collapse {
        display: flex;
        justify-content: center !important;
        position: relative;
        z-index: 9999;   
    }
    .nav-link::after {
        background-color: transparent;
    }
    .carrito{
        position: relative;
        z-index: 9999; 
        margin-left: 310px;    
    }
    #contact{
        margin-top: 300px;
    }
}
#demo{
    height: 100%;
}
.d-block{
    height: 700px;
}
.carousel-caption a{
    font-size: 40px;
    text-decoration: none;
    background-color: #ffffff62;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 0 50px black;
    text-transform: uppercase;
    border-radius: 3em;
    transition: all .2s;
}
.carousel-caption a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.473);
    color: #000000;
}

.carousel-caption a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
}   
#contact {
    margin-top: 0.5px;
}
h2 {
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    border: 2px solid white;
}
.formulario {
    height: 100%;
    background-color: #000000b2;
}
.form-control{
    height: 250px;
    margin-bottom: 1%;
}
.btn-info {
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    color: white;
    height: 50px;
    width: 120px !important;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border-radius: 1em;
    transition: all .2s;
    border: 2px solid rgb(255, 255, 255);
}
.btn-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.btn-info:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-info::after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-info::after {
    background-color: rgb(107, 12, 12);
}

.btn-info:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.comment {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root {
    --footer-background: white;
    --text-color: #111420;
    --text-gray: #e1e1e1;
    --text-heading-gray: #b9b9b9;
}

/*? footer reset */
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    position: relative;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100vw;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
    padding: 16px;
}


/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 16px 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #741111,
            #f1ebeb 50%, #940505);
}

/*? footer subscribe */
.footer-subscribe {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.footer-subscribe>input {
    border: 1px solid var(--text-gray);
    color: var(--text-color);
    min-height: 36px;
    font-size: 1.2rem;
    flex: 1 0 120px;
    padding: 8px 12px;
    border-radius: 8px;
}

.footer-subscribe>button {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    font-family: inherit;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid white;
    font-weight: bold;
}

.footer-subscribe>button:hover {
    background-color: #5e1515;
    color: #ffffff;
}
.footer-subscribe>button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0.2);
}

.footer-subscribe>button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.footer-subscribe>button:after {
    content: "🍔";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.footer-subscribe>button::after {
    background-color: #971515;
}

.footer-subscribe>button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 140px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    border-top: 1px solid var(--text-gray);
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover {
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 16px;
}

.footer-columns h4 {
    color: var(--footer-heading-gray);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns>section {
    min-width: 150px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    min-width: 180px;
    gap: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-logo img {
    stroke: var(--text-color);
    stroke-width: 8px;
    height: 70px;
}

/*? Footer bottom */

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--text-gray);
    margin-top: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 16px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom>small {
    font-size: 16px;
    margin: 0 4px;
}

.footer-headline>h4 {
    margin: 0px;
}

.footer-headline>p {
    margin: 12px 0px;
}

/*? socials */

.social-links {
    display: flex;
    gap: 15px;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
}

.social-links:hover {
    transform: scale(1.1);
}
.fa-instagram{
    color: #e9a322;
}
.fa-whatsapp{
    color: #4cce2c;
}
.fa-linkedin{
    color: #205fe7;
}
.fa-youtube{
    color: #f50b0b;
}
.fa-github{
    color: #111420;
}
/*? mobile */

@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
    .subir{
        top: 420px;
    }
}
.subir {
    height: 50px;
    width: 50px !important;
    background-image: linear-gradient(#5f0000 , rgb(163, 0, 0));
    color: #f5f5f5;
    position: fixed;
    right: 60px;
    bottom: 70px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 5px white;
}

.subir:hover {
    color: white;
}